In [1]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import f1_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
raw_df = pd.read_csv('./Dataset/public_test.csv')
raw_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,blood,height
0,67,Female,17.0,0.0,0.0,No,Private,Urban,92.97,NaN,formerly smoked,AB,NaN
1,210,Male,81.0,0.0,0.0,Yes,Self-employed,Rural,91.54,31.4,never smoked,A,1.60
2,242,Male,4.0,NaN,0.0,No,children,Urban,98.56,17.5,Unknown,O,NaN
3,711,Male,81.0,0.0,NaN,Yes,Private,Rural,92.96,22.2,never smoked,AB,NaN
4,724,Male,17.0,0.0,0.0,No,Private,Rural,81.77,44.7,never smoked,O,1.34

### Drop id feature because it's useless

In [3]:
df = raw_df.copy()
df.drop(columns=['id'], inplace=True)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,blood,height
0,Female,17.0,0.0,0.0,No,Private,Urban,92.97,NaN,formerly smoked,AB,NaN
1,Male,81.0,0.0,0.0,Yes,Self-employed,Rural,91.54,31.4,never smoked,A,1.60
2,Male,4.0,NaN,0.0,No,children,Urban,98.56,17.5,Unknown,O,NaN
3,Male,81.0,0.0,NaN,Yes,Private,Rural,92.96,22.2,never smoked,AB,NaN
4,Male,17.0,0.0,0.0,No,Private,Rural,81.77,44.7,never smoked,O,1.34
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Female,23.0,0.0,NaN,Yes,Govt_job,Rural,84.93,24.2,never smoked,A,1.82
496,Male,53.0,0.0,0.0,Yes,Private,Urban,74.66,29.2,smokes,O,1.66
497,Female,57.0,0.0,NaN,Yes,Private,Rural,64.37,32.8,never smoked,AB,1.56
498,Female,53.0,NaN,0.0,Yes,Private,Rural,77.94,NaN,never smoked,AB,1.56
499,Female,2.0,0.0,NaN,No,children,Urban,102.92,17.6,Unknown,AB,NaN

## Analyze data

In [4]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,489.0,42.885399,22.546490,0.24,26.000,43.000,60.0000,82.00
hypertension,455.0,0.112088,0.315822,0.00,0.000,0.000,0.0000,1.00
heart_disease,366.0,0.057377,0.232880,0.00,0.000,0.000,0.0000,1.00
avg_glucose_level,494.0,106.475020,47.208236,55.35,76.675,89.415,115.4075,263.32
bmi,457.0,29.070460,8.277457,14.00,23.500,27.900,33.2000,92.00
height,376.0,1.620718,0.154750,0.93,1.520,1.650,1.7400,1.85

In [5]:
def draw_missing_data_table(data):
    total = data.isnull().sum().sort_values(ascending=False)
    percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

In [6]:
draw_missing_data_table(df)

                   Total  Percent
heart_disease        134    0.268
height               124    0.248
hypertension          45    0.090
bmi                   43    0.086
age                   11    0.022
avg_glucose_level      6    0.012
blood                  0    0.000
smoking_status         0    0.000
Residence_type         0    0.000
work_type              0    0.000
ever_married           0    0.000
gender                 0    0.000

### Fill age with mean

In [7]:
df['age'] = df['age'].fillna(np.mean(df['age']))

In [8]:
### Fill bmi with the bmi for that age_bin

In [9]:
labels = [1,2,3,4,5]
df["age_bin"] = pd.cut(df["age"], 5, labels=labels)
df['age_bin'].value_counts()

3    129
4    111
5     94
2     86
1     80
Name: age_bin, dtype: int64

In [10]:
gb_bmi = df.groupby("age_bin")["bmi"].mean()
gb_bmi

age_bin
1    21.190909
2    28.552632
3    32.482645
4    30.884000
5    29.695181
Name: bmi, dtype: float64

In [11]:
def impute_bmi(cols):
    bmi = cols[0]
    age_bin = cols[1]
    
    if pd.isnull(bmi):
        if age_bin == 1:
            return 21.190909
        elif age_bin == 2:
            return 28.552632
        elif age_bin == 3:
            return 32.456890
        elif age_bin == 4:
            return 30.884000
        elif age_bin == 5:
            return 29.695181
    else:
        return bmi

In [12]:
draw_missing_data_table(df)

                   Total  Percent
heart_disease        134    0.268
height               124    0.248
hypertension          45    0.090
bmi                   43    0.086
avg_glucose_level      6    0.012
age_bin                0    0.000
blood                  0    0.000
smoking_status         0    0.000
Residence_type         0    0.000
work_type              0    0.000
ever_married           0    0.000
age                    0    0.000
gender                 0    0.000

In [13]:
df["bmi"] = df[["bmi","age_bin"]].apply(impute_bmi, axis=1)
df['bmi']

0      28.552632
1      31.400000
2      17.500000
3      22.200000
4      44.700000
         ...
495    24.200000
496    29.200000
497    32.800000
498    30.884000
499    17.600000
Name: bmi, Length: 500, dtype: float64

In [14]:
draw_missing_data_table(df)

                   Total  Percent
heart_disease        134    0.268
height               124    0.248
hypertension          45    0.090
avg_glucose_level      6    0.012
age_bin                0    0.000
blood                  0    0.000
smoking_status         0    0.000
bmi                    0    0.000
Residence_type         0    0.000
work_type              0    0.000
ever_married           0    0.000
age                    0    0.000
gender                 0    0.000

In [15]:
df = df.drop(['age_bin'],axis=1)
draw_missing_data_table(df)

                   Total  Percent
heart_disease        134    0.268
height               124    0.248
hypertension          45    0.090
avg_glucose_level      6    0.012
blood                  0    0.000
smoking_status         0    0.000
bmi                    0    0.000
Residence_type         0    0.000
work_type              0    0.000
ever_married           0    0.000
age                    0    0.000
gender                 0    0.000

### Drop height

In [16]:
df = df.drop(['height'],axis=1)

In [17]:
draw_missing_data_table(df)

                   Total  Percent
heart_disease        134    0.268
hypertension          45    0.090
avg_glucose_level      6    0.012
blood                  0    0.000
smoking_status         0    0.000
bmi                    0    0.000
Residence_type         0    0.000
work_type              0    0.000
ever_married           0    0.000
age                    0    0.000
gender                 0    0.000

### Fill avg_glucose_level with mean

In [18]:
df['avg_glucose_level'] = df['avg_glucose_level'].fillna(np.mean(df['avg_glucose_level']))

In [19]:
draw_missing_data_table(df)

                   Total  Percent
heart_disease        134    0.268
hypertension          45    0.090
blood                  0    0.000
smoking_status         0    0.000
bmi                    0    0.000
avg_glucose_level      0    0.000
Residence_type         0    0.000
work_type              0    0.000
ever_married           0    0.000
age                    0    0.000
gender                 0    0.000

In [20]:
unknown_feature = df.columns
print('Value counts: \n')
for i in unknown_feature:
    print(df[i].value_counts())
    print('\n')

Value counts:

Female    305
Male      175
Other      20
Name: gender, dtype: int64


54.00    13
43.00    12
37.00    12
66.00    11
40.00    11
         ..
1.48      1
1.72      1
9.00      1
0.72      1
1.80      1
Name: age, Length: 87, dtype: int64


0.0    404
1.0     51
Name: hypertension, dtype: int64


0.0    345
1.0     21
Name: heart_disease, dtype: int64


Yes    327
No     173
Name: ever_married, dtype: int64


Private          274
Self-employed     88
children          71
Govt_job          65
Never_worked       2
Name: work_type, dtype: int64


Urban      245
Rural      232
Unknown     23
Name: Residence_type, dtype: int64


106.47502    6
112.02000    2
90.11000     2
91.89000     2
81.51000     2
            ..
64.62000     1
56.90000     1
110.20000    1
93.72000     1
83.75000     1
Name: avg_glucose_level, Length: 481, dtype: int64


29.695181    11
30.884000    11
28.552632    10
32.456890     8
23.500000     8
             ..
17.300000     1
38.900000     1
40.400000     1
57.200000     1
17.500000     1
Name: bmi, Length: 240, dtype: int64


never smoked       199
Unknown            143
formerly smoked     82
smokes              76
Name: smoking_status, dtype: int64


AB    217
O     200
A      44
B      39
Name: blood, dtype: int64

### Fill hypertension and heart_disease with the value of the most value_count : 0

In [21]:
df['hypertension'] = df['hypertension'].fillna(0.0)
df['hypertension'] = df['hypertension'].astype(int)
df['heart_disease'] = df['heart_disease'].fillna(0)
df['heart_disease'] = df['heart_disease'].astype(int)

In [22]:
draw_missing_data_table(df)

                   Total  Percent
blood                  0      0.0
smoking_status         0      0.0
bmi                    0      0.0
avg_glucose_level      0      0.0
Residence_type         0      0.0
work_type              0      0.0
ever_married           0      0.0
heart_disease          0      0.0
hypertension           0      0.0
age                    0      0.0
gender                 0      0.0

## One-hot encode: 'gender', 'blood', 'smoking_status', 'Residence_type', 'work_type'
## Categorical: 'ever_married'

In [23]:
for i in df.columns:
    print(str(i) + '= ' + str(df[i].unique()))

gender= ['Female' 'Male' 'Other']
age= [17.         81.          4.          5.         34.         32.
 47.         31.         73.         20.          0.72       51.
 60.         66.         55.         80.         79.         18.
 42.88539877 37.          8.         42.         11.         49.
 78.         12.         48.         35.         64.         52.
 54.         57.         33.         50.         40.         67.
 16.         74.         53.         58.          3.         19.
 22.          2.         76.         46.         69.         68.
 28.         45.         29.         61.         59.         38.
 43.          7.         62.         71.         36.         63.
 15.          9.         72.         44.         41.         82.
 39.         30.         77.         24.          1.48       14.
 56.         21.         25.          1.8        75.         13.
  6.         10.         27.         26.         23.          1.72
 65.         70.          0.24      ]
hypertension= [0 1]
heart_disease= [0 1]
ever_married= ['No' 'Yes']
work_type= ['Private' 'Self-employed' 'children' 'Govt_job' 'Never_worked']
Residence_type= ['Urban' 'Rural' 'Unknown']
avg_glucose_level= [ 92.97        91.54        98.56        92.96        81.77
  75.1         83.75        85.18       101.81        70.66
 101.58        79.53       112.19        82.31        95.19
  80.67       100.2         70.28        80.35        73.87
 230.74        83.7        101.12       106.47502024 232.29
  71.18        78.48        67.97        92.74        99.01
  94.77        98.9         89.42        87.          73.99
 108.51       101.76       103.29        85.66       235.06
  70.43       107.74        69.72       112.83        94.75
  83.16        91.68        86.78       101.46        82.95
  94.12       105.28       195.74        78.79        76.35
  94.37        80.27        92.24        56.33        98.02
 112.02        77.91        73.94        81.32       232.64
 112.75       208.99       111.08        98.07        96.02
 207.28        71.12        69.24       106.54        83.55
 169.67        73.18        94.39        77.82       105.9
 195.43       115.52        73.57        80.08        67.56
  91.16       203.76       112.37        81.         115.68
 227.23        77.2         88.          74.8         90.71
  76.63        77.1        117.63        81.58        79.62
  85.98        82.46        80.57       221.24        80.48
  80.54        77.92       102.76        89.06        76.12
  81.76       192.5        110.38       112.08       130.54
 116.06        78.9         85.         221.79       101.66
  93.52        86.06        81.38       108.32       108.96
 121.66       168.68        84.43        99.44        71.77
  97.05       104.9        206.09       103.68        90.11
 110.1         93.3         70.13       103.72       117.03
  75.13        82.63        77.99       116.62        82.94
 118.55        82.62       125.43        74.43        77.95
  95.23       194.75        75.          90.44       153.24
  86.4         84.68       116.04        77.76        70.91
 113.08       115.07       231.56        94.27        87.91
  79.42       102.          91.32        93.72        79.98
  83.84       201.96       119.9        100.8        103.22
  78.04        92.75       103.78       213.43       104.16
  86.92        86.19       115.71        73.          86.95
 197.36        69.47        73.81        88.98        74.24
 229.94        72.76       194.37        96.62        83.59
 216.19       199.2         94.24        88.56        76.78
 189.82       216.07       101.45        85.9         76.42
  85.82        84.03        73.24        98.44        91.89
  76.57       217.74        85.27        94.89       124.78
  76.08        69.2         86.21        95.87        87.12
  80.94       207.84        87.15       116.44        76.52
  92.59        79.57        74.34        74.02        85.08
 104.02       112.96       234.5        167.16        86.85
 119.4        103.65       111.24       112.7         73.08
  62.21        62.68        72.99       203.87       208.39
  72.17        68.99       193.61       131.42        76.64
 106.53       111.48        73.98        56.64       107.33
  99.72        60.73        64.62        87.4        222.52
  82.42        66.16       135.82        72.04        58.01
  68.43        75.06        64.45       110.2         74.
 247.87        94.92        57.46       200.66       145.18
 102.16        55.79        59.62        63.74        63.49
 253.93        80.2        207.37        95.24        66.3
 126.57       141.37        83.03        61.13        76.09
  57.79       142.63        60.64       203.27        78.8
  63.57       106.8        196.58       228.5        197.06
 223.83        57.52        76.47       110.42        88.62
 111.76        58.89       125.63       191.94       256.74
  56.94       190.67       120.22       120.56       112.55
 106.52        70.87        78.5         74.39       123.89
 236.04        78.98        81.51       261.67        91.3
 113.41        96.47        57.92        68.01       138.44
  77.94        78.85        57.4         81.36       114.46
 123.08        56.9         77.72        85.77        89.68
  78.11        60.32       131.81       205.78       254.95
  98.14       228.26        63.9         63.98        58.42
 190.14        88.79       125.32       100.47        69.45
  58.66       103.5        106.76       128.61       116.98
 119.13        65.29       126.12       202.06       140.1
 129.66       108.82        83.8         88.97        65.58
  65.36        57.56        60.7         69.94        77.77
  84.04       248.24        92.98        70.56        61.42
  59.11       102.97       134.65       132.46        89.41
  60.67        81.24       239.07       108.63        68.66
 126.09        79.22       150.74       221.89       229.73
  86.07       121.15        76.19        68.68        99.96
 221.08        57.38       105.72       130.07       122.23
 117.77        68.07       144.14       151.26        78.05
 101.06       102.03       115.98       108.38        78.43
  70.38       100.54        67.29        79.33        61.8
  80.55       110.33        87.71        76.34       146.1
  55.93        87.39       200.25        62.66        76.03
  71.79        60.17       131.05       141.84        82.26
 123.98        89.14        86.67       195.71        82.57
  69.46        94.14        85.33        80.8         88.85
  55.35       151.16       111.84        83.73       103.08
 134.76        62.44       149.8         83.2         86.3
  57.09        56.48       182.99        63.42        66.69
  88.06        76.98       179.14        57.96        70.19
 179.67        82.64       263.32       200.91        85.07
 144.33        77.16        77.43        81.73        67.41
  89.73       212.92        84.93        74.66        64.37
 102.92      ]
bmi= [28.552632 31.4      17.5      22.2      44.7      20.7      37.
 28.4      27.2      35.9      20.1      31.9      24.3      33.5
 28.5      29.695181 28.7      33.7      30.2      34.2      40.8
 23.9      16.1      23.8      25.5      22.7      35.5      24.1
 19.       16.3      33.3      20.6      39.9      20.8      30.884
 39.5      18.2      27.9      20.2      22.4      25.9      21.4
 21.8      23.1      32.7      22.6      38.1      29.4      20.4
 29.1      39.1      24.8      27.6      45.2      25.1      23.2
 24.       34.9      27.3      16.7      28.3      27.5      28.6
 28.9      33.9      19.6      38.       33.8      27.1      40.
 23.4      30.6      50.6      45.8      17.3      55.9      36.2
 21.6      28.       25.3      28.2      24.2      17.7      18.5
 24.9      20.3      34.8      16.8      32.45689  29.       27.4
 23.       16.       30.       35.4      31.5      34.1      14.2
 32.4      27.7      26.9      45.7      25.       23.6      30.9
 17.8      40.3      31.1      17.9      32.       29.3      38.4
 32.2      35.2      21.190909 25.7      38.2      32.6      34.7
 18.1      41.8      36.9      14.       40.4      20.9      41.4
 35.       30.1      37.6      39.3      20.5      34.5      36.7
 21.5      22.       26.2      18.9      19.8      23.5      18.8
 27.       18.6      30.3      26.6      45.3      28.8      43.4
 34.6      27.8      25.8      23.3      35.6      19.3      38.9
 24.5      14.8      31.8      14.6      26.1      25.4      43.7
 18.3      22.9      17.       38.8      29.6      18.4      46.4
 26.4      36.       36.8      19.5      30.4      29.9      24.7
 22.3      35.1      21.7      42.6      36.3      21.3      50.8
 29.5      40.2      47.5      26.       32.9      29.7      41.9
 31.6      32.1      55.7      31.       31.3      43.       25.6
 43.2      48.8      92.       38.7      14.1      41.7      46.
 45.4      26.8      32.8      36.5      24.4      41.3      32.3
 19.1      42.4      37.3      32.5      25.2      57.2      33.1
 30.5      29.8      24.6      15.       34.       22.8      57.9
 37.9      33.2      46.1      41.5      37.2      47.6      21.2
 19.4      35.3      64.4      30.7      21.9      29.2      26.3
 16.2      17.6     ]
smoking_status= ['formerly smoked' 'never smoked' 'Unknown' 'smokes']
blood= ['AB' 'A' 'O' 'B']

In [24]:
marriage_mapping = {'No': 0, 'Yes': 1}
df['ever_married'] = df['ever_married'].map(marriage_mapping)

In [25]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,blood
0,Female,17.0,0,0,0,Private,Urban,92.97,28.552632,formerly smoked,AB
1,Male,81.0,0,0,1,Self-employed,Rural,91.54,31.400000,never smoked,A
2,Male,4.0,0,0,0,children,Urban,98.56,17.500000,Unknown,O
3,Male,81.0,0,0,1,Private,Rural,92.96,22.200000,never smoked,AB
4,Male,17.0,0,0,0,Private,Rural,81.77,44.700000,never smoked,O

In [26]:
oh = OneHotEncoder()

In [27]:
categorical_features_oh = ['gender', 'blood', 'smoking_status', 'Residence_type', 'work_type']

In [28]:
for i in categorical_features_oh:
    df[i] = pd.Categorical(df[i])
    dfDummies = pd.get_dummies(df[i], prefix= i)
    df = pd.concat([df, dfDummies], axis=1)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,...,smoking_status_never smoked,smoking_status_smokes,Residence_type_Rural,Residence_type_Unknown,Residence_type_Urban,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
0,Female,17.0,0,0,0,Private,Urban,92.97,28.552632,formerly smoked,...,0,0,0,0,1,0,0,1,0,0
1,Male,81.0,0,0,1,Self-employed,Rural,91.54,31.400000,never smoked,...,1,0,1,0,0,0,0,0,1,0
2,Male,4.0,0,0,0,children,Urban,98.56,17.500000,Unknown,...,0,0,0,0,1,0,0,0,0,1
3,Male,81.0,0,0,1,Private,Rural,92.96,22.200000,never smoked,...,1,0,1,0,0,0,0,1,0,0
4,Male,17.0,0,0,0,Private,Rural,81.77,44.700000,never smoked,...,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Female,23.0,0,0,1,Govt_job,Rural,84.93,24.200000,never smoked,...,1,0,1,0,0,1,0,0,0,0
496,Male,53.0,0,0,1,Private,Urban,74.66,29.200000,smokes,...,0,1,0,0,1,0,0,1,0,0
497,Female,57.0,0,0,1,Private,Rural,64.37,32.800000,never smoked,...,1,0,1,0,0,0,0,1,0,0
498,Female,53.0,0,0,1,Private,Rural,77.94,30.884000,never smoked,...,1,0,1,0,0,0,0,1,0,0
499,Female,2.0,0,0,0,children,Urban,102.92,17.600000,Unknown,...,0,0,0,0,1,0,0,0,0,1

In [29]:
for i in categorical_features_oh:
    df.drop(columns=i, axis=1, inplace=True)
df

,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,blood_A,...,smoking_status_never smoked,smoking_status_smokes,Residence_type_Rural,Residence_type_Unknown,Residence_type_Urban,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
0,17.0,0,0,0,92.97,28.552632,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,81.0,0,0,1,91.54,31.400000,0,1,0,1,...,1,0,1,0,0,0,0,0,1,0
2,4.0,0,0,0,98.56,17.500000,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
3,81.0,0,0,1,92.96,22.200000,0,1,0,0,...,1,0,1,0,0,0,0,1,0,0
4,17.0,0,0,0,81.77,44.700000,0,1,0,0,...,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,23.0,0,0,1,84.93,24.200000,1,0,0,1,...,1,0,1,0,0,1,0,0,0,0
496,53.0,0,0,1,74.66,29.200000,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
497,57.0,0,0,1,64.37,32.800000,1,0,0,0,...,1,0,1,0,0,0,0,1,0,0
498,53.0,0,0,1,77.94,30.884000,1,0,0,0,...,1,0,1,0,0,0,0,1,0,0
499,2.0,0,0,0,102.92,17.600000,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [30]:
draw_missing_data_table(df)

                                Total  Percent
work_type_children                  0      0.0
blood_B                             0      0.0
hypertension                        0      0.0
heart_disease                       0      0.0
ever_married                        0      0.0
avg_glucose_level                   0      0.0
bmi                                 0      0.0
gender_Female                       0      0.0
gender_Male                         0      0.0
gender_Other                        0      0.0
blood_A                             0      0.0
blood_AB                            0      0.0
blood_O                             0      0.0
work_type_Self-employed             0      0.0
smoking_status_Unknown              0      0.0
smoking_status_formerly smoked      0      0.0
smoking_status_never smoked         0      0.0
smoking_status_smokes               0      0.0
Residence_type_Rural                0      0.0
Residence_type_Unknown              0      0.0
Residence_type_Urban                0      0.0
work_type_Govt_job                  0      0.0
work_type_Never_worked              0      0.0
work_type_Private                   0      0.0
age                                 0      0.0

### Scaling data

In [31]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
columns = ['avg_glucose_level','bmi','age']
scaled = std.fit_transform(df[columns])
scaled = pd.DataFrame(scaled,columns=columns)
df=df.drop(columns=columns,axis=1)

In [32]:
df = df.reset_index(drop=True)
df = df.merge(scaled, left_index=True, right_index=True, how = "left")
df

,hypertension,heart_disease,ever_married,gender_Female,gender_Male,gender_Other,blood_A,blood_AB,blood_B,blood_O,...,Residence_type_Unknown,Residence_type_Urban,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,avg_glucose_level,bmi,age
0,0,0,0,1,0,0,0,1,0,0,...,0,1,0,0,1,0,0,-0.288097,-0.071492,-1.162120
1,0,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,-0.318603,0.286883,1.711148
2,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,1,-0.168848,-1.462595,-1.745753
3,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,-0.288311,-0.871045,1.711148
4,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,-0.527022,1.960843,-1.162120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,1,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,-0.459611,-0.619321,-0.892751
496,0,0,1,0,1,0,0,0,0,1,...,0,1,0,0,1,0,0,-0.678697,0.009987,0.454093
497,0,0,1,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,-0.898210,0.463089,0.633672
498,0,0,1,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,-0.608726,0.221938,0.454093
499,0,0,0,1,0,0,0,1,0,0,...,0,1,0,0,0,0,1,-0.075838,-1.450009,-1.835542

In [33]:
draw_missing_data_table(df)

                                Total  Percent
age                                 0      0.0
smoking_status_formerly smoked      0      0.0
heart_disease                       0      0.0
ever_married                        0      0.0
gender_Female                       0      0.0
gender_Male                         0      0.0
gender_Other                        0      0.0
blood_A                             0      0.0
blood_AB                            0      0.0
blood_B                             0      0.0
blood_O                             0      0.0
smoking_status_Unknown              0      0.0
smoking_status_never smoked         0      0.0
bmi                                 0      0.0
smoking_status_smokes               0      0.0
Residence_type_Rural                0      0.0
Residence_type_Unknown              0      0.0
Residence_type_Urban                0      0.0
work_type_Govt_job                  0      0.0
work_type_Never_worked              0      0.0
work_type_Private                   0      0.0
work_type_Self-employed             0      0.0
work_type_children                  0      0.0
avg_glucose_level                   0      0.0
hypertension                        0      0.0

### Reorder the dataframe

In [35]:
df.head()

,hypertension,heart_disease,ever_married,gender_Female,gender_Male,gender_Other,blood_A,blood_AB,blood_B,blood_O,...,Residence_type_Unknown,Residence_type_Urban,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,avg_glucose_level,bmi,age
0,0,0,0,1,0,0,0,1,0,0,...,0,1,0,0,1,0,0,-0.288097,-0.071492,-1.162120
1,0,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,-0.318603,0.286883,1.711148
2,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,1,-0.168848,-1.462595,-1.745753
3,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,-0.288311,-0.871045,1.711148
4,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,-0.527022,1.960843,-1.162120

In [37]:
df.columns

Index(['hypertension', 'heart_disease', 'ever_married', 'gender_Female',
       'gender_Male', 'gender_Other', 'blood_A', 'blood_AB', 'blood_B',
       'blood_O', 'smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes',
       'Residence_type_Rural', 'Residence_type_Unknown',
       'Residence_type_Urban', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'avg_glucose_level', 'bmi', 'age'],
      dtype='object')

In [34]:
df.to_csv("Dataset/processed_test.csv")