In [1]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import f1_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
raw_df = pd.read_csv('./Dataset/public_test.csv')
raw_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,blood,height
0,67,Female,17.0,0.0,0.0,No,Private,Urban,92.97,NaN,formerly smoked,AB,NaN
1,210,Male,81.0,0.0,0.0,Yes,Self-employed,Rural,91.54,31.4,never smoked,A,1.60
2,242,Male,4.0,NaN,0.0,No,children,Urban,98.56,17.5,Unknown,O,NaN
3,711,Male,81.0,0.0,NaN,Yes,Private,Rural,92.96,22.2,never smoked,AB,NaN
4,724,Male,17.0,0.0,0.0,No,Private,Rural,81.77,44.7,never smoked,O,1.34

### Drop id feature because it's useless

In [3]:
df = raw_df.copy()
df.drop(columns=['id'], inplace=True)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,blood,height
0,Female,17.0,0.0,0.0,No,Private,Urban,92.97,NaN,formerly smoked,AB,NaN
1,Male,81.0,0.0,0.0,Yes,Self-employed,Rural,91.54,31.4,never smoked,A,1.60
2,Male,4.0,NaN,0.0,No,children,Urban,98.56,17.5,Unknown,O,NaN
3,Male,81.0,0.0,NaN,Yes,Private,Rural,92.96,22.2,never smoked,AB,NaN
4,Male,17.0,0.0,0.0,No,Private,Rural,81.77,44.7,never smoked,O,1.34
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Female,23.0,0.0,NaN,Yes,Govt_job,Rural,84.93,24.2,never smoked,A,1.82
496,Male,53.0,0.0,0.0,Yes,Private,Urban,74.66,29.2,smokes,O,1.66
497,Female,57.0,0.0,NaN,Yes,Private,Rural,64.37,32.8,never smoked,AB,1.56
498,Female,53.0,NaN,0.0,Yes,Private,Rural,77.94,NaN,never smoked,AB,1.56
499,Female,2.0,0.0,NaN,No,children,Urban,102.92,17.6,Unknown,AB,NaN

## Analyze data

In [4]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,489.0,42.885399,22.546490,0.24,26.000,43.000,60.0000,82.00
hypertension,455.0,0.112088,0.315822,0.00,0.000,0.000,0.0000,1.00
heart_disease,366.0,0.057377,0.232880,0.00,0.000,0.000,0.0000,1.00
avg_glucose_level,494.0,106.475020,47.208236,55.35,76.675,89.415,115.4075,263.32
bmi,457.0,29.070460,8.277457,14.00,23.500,27.900,33.2000,92.00
height,376.0,1.620718,0.154750,0.93,1.520,1.650,1.7400,1.85

In [ ]:
def draw_missing_data_table(data):
    total = data.isnull().sum().sort_values(ascending=False)
    percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

def impute_bmi(cols):
    bmi = cols[0]
    age_bin = cols[1]
    
    if pd.isnull(bmi):
        if age_bin == 1:
            return 20.7
        elif age_bin == 2:
            return 27.7
        elif age_bin == 3:
            return 29.8
        elif age_bin == 4:
            return 30.8
        elif age_bin == 5:
            return 29.0
    else:
        return bmi